html {
    font-family: 'Poppins', sans-serif;
}

.custom-bg-color {
    background: #FCEAE8;
}

button.custom-button {
    background: #FF2C7F;
    font-weight: 700;
    color: #ffffff;
}

#top {
    position: absolute;
    right: 0;

}